.form-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    padding: 2em;
}

.form-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: .3em 0;
}

.form-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

hr {
    margin: 2em 0;
}

.results-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2em;
}

.results-item {
    margin: 2em;
}

button {
    display: table;
    margin: 0 auto;
}

.hide {
    display: none;
}